* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 95.6vh;
    position: relative;

}

.main .box {
    height: 95.6vh;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    background-color: black;

}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    padding: 25px 0px;
    position: relative;
    z-index: 10;

}

.lang{
    background-color: #ea0813;
    color: white;
    border: 0;
    padding: 3px 17px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex ;
    justify-content: center;
    align-items: center;
    line-height: 14px;
    text-align: center;
}

.button{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 34px;
}

.netflix img{
    color: #ea0813;
    width: 9.25rem;
    height: 2.5rem;
    position: relative;
    z-index: 10;
    
}
.sel img{
    color: white;
    width: 16px;
}

.sel {
    background-color: rgba(23, 23, 23, 0.6);
    color: white;
    padding: 7px 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 4.5px;
    border: 1px solid rgba(255, 255, 255, 0.547);
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    
    

}



.hero {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    gap: 23px;
    padding: 0 30px;
    text-align: center;


    height: calc(100% - 142px);
    display: flex;
    align-items: center;

    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
}

#headline {
    font-weight: 900;
    font-size: 26px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}



.mail{
    margin: 0px 110.312px;
    margin-top: 16px;
    position: relative;
}

.mail input {
    background-color: black;
    filter: opacity(0.7);
    border: 1px solid rgba(255, 255, 255, 0.547);
    align-content: center;
    color: white;
    box-sizing: border-box;
    width: 364.75px;
    height: 56px;
    padding-top: 14px;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 4px;
}

.mail button {
    box-sizing: border-box;
    border: 0;
    background-color: #ea0813;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    line-height: 24px;
    font-size: 24px;
    padding: 12px 24px;
    margin-left: 4.5px;
    width: 213.25px;
    height: 56px;
    position: relative;
    align-content: center;
    border-radius: 4px;
}

.separation {
    height: 8px;
    background-color: rgb(35, 35, 35);
}





.first {
    padding: 72px 0px;
    color: white;
    display: flex;
    justify-content: center;
    max-width: 77vw;
    margin: auto;
    align-items: center;
}

@media screen and (max-width: 960px) {
    .first {
        flex-wrap: wrap;
    }
    .second{
        flex-wrap: wrap;
    }
    .third {
        flex-wrap: wrap;
    }
    .fourth{
        flex-wrap: wrap;
    }

}

.tv img {
    height: 440.888px;
    position: relative;
    z-index: 10;
}

.tv {
    position: relative;
}

.tv video {
    position: absolute;
    top: 91px;
    right: 31px;
    height: 270px;
    width: 480px;
}

section.first>div :first-child {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: 900;
}

section.first>div :nth-child(2) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

section.first>div {
    display: flex;
    flex-direction: column;

}





.second {
    padding: 72px 0px;
    color: white;
    display: flex;
    justify-content: center;
    max-width: 77vw;
    margin: auto;
    align-items: center;
}

section.second>div :first-child {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: 900;
}

section.second>div :nth-child(2) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.im img {
    height: 444.89px;
}

.im {
    position: relative;
}

section.second>div {
    display: flex;
    flex-direction: column;
}





.third {
    padding: 72px 0px;
    color: white;
    display: flex;
    justify-content: center;
    max-width: 77vw;
    margin: auto;
    align-items: center;
}

.gate img {
    height: 440.888px;
    position: relative;

}

.gate {
    position: relative;
    overflow: hidden;
}

.gate video {
    position: absolute;
    top: -5px;
    right: 93.5px;
    height: 270px;
    width: 320px;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    z-index: -1;
}

section.third>div :first-child {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: 900;
}

section.third>div :nth-child(2) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

section.third>div {
    display: flex;
    flex-direction: column;
}





.fourth {
    padding: 72px 0px;
    color: white;
    display: flex;
    justify-content: center;
    max-width: 77vw;
    margin: auto;
    align-items: center;
}

section.fourth>div :first-child {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: 900;
}

section.fourth>div :nth-child(2) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.chill img {
    height: 444.89px;
}

.chill {
    position: relative;
}


section.fourth>div {
    display: flex;
    flex-direction: column;

}

.faq {
    padding: 72px;

}

.faq>h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: white;

    text-align: center;

}

.faqbox {
    background-color: rgb(45, 45, 45);
    justify-content: space-between;
    margin: 14px auto;
    display: flex;
    padding: 24px 24px;
    
    color: white;
    text-align: center;
    width: 73vw;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    height: 35px;
    transition: all
    
}

.faqbox:hover {
    background-color: rgba(65, 65, 65, 1);
}


footer {
    color: white;
    max-width: 73vw;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 72px 139.462px;
    padding-left: 48px;
    padding-right: 48px;
}


footer .question {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding: 34px 3px;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 73vw;
    margin: 12px;
    font-size: 14px;
}

.footer a {
    font size: 14px;
    color: white;
    font-weight: 400;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}



.lang2 {
    background-color: rgba(23, 23, 23, 0.6);
    color: rgba(255, 255, 255, 0.7);
    padding: 7px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border-radius: 5px;
    border: 1px solid white;
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
}


@media screen and (max-width: 960px) {
    .footer {
        display: grid;
        grid-template-columns:1fr 1fr ;
        gap: 55px;
    }
}

.re{
    margin-top: 45.6px;
    color: white;
   
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
}
#up{
    text-align: center;
    margin-left: 167px;
    margin-right: 167px;
    margin top: 16px;
}
